<nav class="navbar navbar-expand-lg menu_one mt-40 menu_logo_change" id="sticky">
    <div class="container">

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_toggle">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="hamburger-cross">
                    <span></span>
                    <span></span>
                </span>
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav menu ml-auto dk_menu w-100">
                <li class="nav-item dropdown submenu active">
                    <a href="/" class="nav-link" role="button" aria-haspopup="true">اخبار</a>

                </li>
                {% if True %}
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="/+" role="button" aria-expanded="false">
                            خبر جدید
                        </a>
                        <i class="arrow_carrot-down_alt2 mobile_dropdown_icon" aria-hidden="false" data-toggle="dropdown"></i>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
